<!DOCTYPE html>
<html>
  <link rel="stylesheet" type="text/css" href="../static/stuyMaps.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <meta name="google-signin-client_id" content="327411855984-u52p44erpp7fg7kna60j66lie7eou5jv.apps.googleusercontent.com">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
	<a class="navbar-brand" style="color: rgb(131,156,165); font-style:italic; font-size:200%;" href="#">StuyMaps</a>
      </div>
      <ul class="nav navbar-nav">
	<li class="active">
	<li><a href="/">Home</a></li>
	<li><a href="/search">Search</a></li> 
	<li><a href="/directions">Directions</a></li> 
	<li><a href="#" onclick="signOut();">Sign out</a></li>
      </ul>
    </div>
  </nav>
  <div class="webpage" style="margin: 0;">
    <body>
      <center>
	<input type="text" id="source" placeholder="Start" class="search"> </input>
	<input type="text" id="dest" placeholder="Destination" class="search"> </input>
	<button id="button" class="button"> Search</button>
	<br>
	<br>
	<div id="wrongRoom" style="color: rgb(205,0,0); font-size: 250%; font-style: bold;">
	</div>
	<svg id="map" width="100" height="100"> </svg>
	<svg id="map2" width="0" height="0"> </svg>
	<p id="steps"> </p>
      </center>
    </body>
  </div>
  <footer>
    <br>
    <br>
    <div id="signin" class="g-signin2" data-onsuccess="onSignIn"></div>
    <br>
  </footer>
  <script src="../static/oauth.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="../static/drawTest.js"> </script>
  <script src="../static/pathfinder.js"></script>
  <script src="../static/maps.js"> </script>
</html>
