<!DOCTYPE HTML>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<meta name="google-signin-client_id" content="327411855984-u52p44erpp7fg7kna60j66lie7eou5jv.apps.googleusercontent.com">
<title>login</title>
</head>
<body>
<div id="signin" class="g-signin2" data-onsuccess="onSignIn"></div>
<a href="#" onclick="signOut();"> Sign out </a>
<script src="/../static/oauth.js">
</script>

</body>
</html>
